<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns:int="http://www.springframework.org/schema/integration"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:int-stream="http://www.springframework.org/schema/integration/stream"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/integration/stream http://www.springframework.org/schema/integration/stream/spring-integration-stream.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd
		http://www.springframework.org/schema/integration http://www.springframework.org/schema/integration/spring-integration-4.1.xsd">

	<int:channel-interceptor pattern="*_EL_*"
		order="2">
		<beans:bean class="com.model.XMLInterceptor" />
	</int:channel-interceptor>
	<int:gateway id="xmlGatwy" service-interface="com.model.XmlService"
		default-request-channel="SVC_EL_CHNL" />
		
	<beans:bean id="xmlBean" class="com.model.XMLBean"/>
	
	
	<!-- <beans:bean id="javaConfig" class ="com.config.SpringConfiguration" /> -->
	
	<int:service-activator id="xmlActivator"
		input-channel="SVC_EL_CHNL" ref="xmlBean" method="sayHello"
		output-channel="nullChannel" />
</beans:beans>